// Colors

$black: #000000;
$white: #ffffff;
$gray: #424242;
$light_gray: #7a7a7a;
$yellow: #ffdb49;

// Fonts

$main_font: 'Kumbh Sans', sans-serif;

// Media Queries size

$phone: 350px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;